<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Acr.UserDialogs" version="6.0.1" targetFramework="portable-net45+win+wp80+MonoTouch10+MonoAndroid10+xamarinmac20+xamarinios10" />
  <package id="Fody" version="1.29.4" targetFramework="portable45-net45+win8+wp8" developmentDependency="true" />
  <package id="PropertyChanged.Fody" version="1.52.1" targetFramework="portable45-net45+win8+wp8" developmentDependency="true" />
  <package id="Splat" version="1.6.2" targetFramework="portable-net45+win+wp80+MonoTouch10+MonoAndroid10+xamarinmac20+xamarinios10" />
  <package id="Xamarin.Forms" version="2.3.4.231" targetFramework="portable45-net45+win8+wp8" />
</packages>